body {
    background-color: #f9f9f9;
  }
  hr {
    background-color:#f9f9f9;
    border-style: dotted solid;
    border-color: #ffe0ac;
    border-width: 4px 0px 0px;
    width: 5%;
  }

  img{
      border-radius: 200px;
  }

  h1{
    color: #ffacb7;
  }

  h2{
    color: #ffacb7;
  }
